body {
    padding-bottom: 20px;
    background-color: #ccc;
    font-size: 15px;
}

html::-webkit-scrollbar {
    width: 0px;
}

.navbar {
    margin-bottom: 0;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.body-content {
    width: 90%;
}

.menu_container {
    width: 100%;
}

.table {
    box-shadow: 5px 5px 5px #333;
}

.table thead, .table tfoot {
    background-color: #2e3338;
    color: #fff;
    font-weight: bold;
}

.table td, .table th {
    border: 1px solid #000 !important;
}

.table tbody td {
    background-color: #49515a;
    color: #fff;
}

.table-condensed td, .table-condensed tfoot td, .table-condensed thead th {
    padding-left: 2px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.valores_topo {
    display: block;
    padding-top: 12px;
    margin-left: 10px;
    color: #9d9d9d;
}

.navbar-brand {
    margin-right: 20px;
}

.divisor {
    margin-left: 13px;
}
.tr_resgate {
    background-color: darkred;
}
.td_definido {
    font-style: italic;
}

.td_planejado {
    font-style: normal;
    font-weight: bold;
    background-color: grey !important;
}

.td_pago {
    background-color: royalblue !important;
}

.td_renda {
    background-color: forestgreen !important;
}

.td_terceiros {
    background-color: palevioletred !important;
}

.clicado {
    background-color: #000 !important;
}

.navbar-brand, .navbar-brand:hover {
    color: #9d9d9d !important;
}

.icone_consolidado, .fa-plus-square {
    cursor: pointer;
}

.modal-content {
    background-color: #222;
    color: #fff;
}

.modal-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.slow-spin {
    -webkit-animation: fa-spin 3s infinite linear;
    animation: fa-spin 3s infinite linear;
    font-size: 15px;
}

.topo_cartoes {
    padding: 0;
}

.col_valores {
    margin-left: -5px;
    margin-top: -5px;
}

.context-menu-icon::before, .context-menu-icon > .fa-monero:before {
    color: #000 !important;
}

.context-menu-icon > span {
    font-weight: 900;
}

.n {
    color: #FF00FF;
}

.nm {
    color: #03fcf8;
}

.ip {
    color: blue;
}

.ib {
    color: dodgerblue;
}

.in {
    color: orangered;
}

.c6 {
    color: #ff0000;
}

.cr {
    color: #ddd;
}

.sa {
    color: #000;
}

.pp {
    color: #4ec14e;
}

.mp {
    color: darkgrey;
}

.ic {
    color: darkorange;
}

.linha_gasto .fa-info-circle {
    font-size: 12px !important;
    color: darkorange !important;
}

.linha_gasto .fa-monero {
    font-size: 12px !important;
    color: #66ccff !important;
}

.linha_planejado td {
    background-color: gray !important;
}

.linha_renda td {
    background-color: #1657e9 !important;
}

.linha_pago td {
    background-color: green !important;
}

.linha_renda.linha_pago td {
    background-color: #127de0 !important;
}

.linha_terceiros td, .tabela_terceiros td {
    background-color: purple !important;
}

.linha_terceiros.linha_pago td {
    background-color: #2c072c !important;
}

.row_cartoes {
    min-width: 270px;
}

.row_cartoes .col-md-4 {
    margin-right: -15px;
}

@media screen and (min-width: 1000px) {
    .col-sm-2-mes {
        width: 14%;
    }
}

@media screen and (max-width: 1000px) {
    .navbar-brand {
        display: none;
    }
    .collapse {
        display: inline-block;
    }
    #exibir_terceiros, #exibir_calculos, #exportar {
        display: none;
    }
    .tabela_terceiros {
        display: block !important;
    }
}

/* .tabela_mes tfoot {
    inset-block-end: 0;
    position: sticky;
    bottom: 7%;
    width: 11%;
} */

/* .div_footer {
    position: fixed;
    height: 5%;
    bottom: 0;
    width: 90%;
} */