body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ccc;
    font-size: 15px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}
.body-content, .menu_container {
    width: 90%;
}
.navbar-brand, .navbar-brand:hover {
    color: #9d9d9d !important;
}
.table {
    width: 80%;
    box-shadow: 5px 5px 5px #333;
}
.td_responsavel {
    text-align: center;
    background-color: #000;
    color: #fff;
}
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fff;
}
.table > tbody > tr > td:nth-child(1) {
    width: 70%;
}
.tr_total_responsavel {
    background-color: cornflowerblue !important;
    color: #fff;
}
.tr_renda_itau, .tr_renda_mp {
    background-color: green !important;
    color: #fff;
}